<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--1 开启springmvc注解-->
    <mvc:annotation-driven/>
    <!--2 静态资源处理-->
    <mvc:default-servlet-handler/>
    <!--3 扫描web相关的包-->
    <context:component-scan base-package="HelloSpringMVC.controller"/>
    <!--4 web视图-->
    <!--<mvc:view-resolvers>-->
        <!--<mvc:jsp prefix="/WEB-INF/jsp/" suffix=".jsp" view-class="org.springframework.web.servlet.view.JstlView" />-->
    <!--</mvc:view-resolvers>-->

    <!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
       <bean id="multipartResolver"
           class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
             <property name="defaultEncoding" value="UTF-8" />
             <!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
             <property name="maxUploadSize" value="10240000" />
         </bean>


    <bean class="HelloSpringMVC.swagger.SwaggerConfig" />
    <!--<context:component-scan base-package="HelloSpringMVC.swagger"/>-->
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources/"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars/"/>
    <!--&lt;!&ndash;启用MVC注解 &ndash;&gt;-->
    <!--<mvc:annotation-driven />-->

    <!-- 启动包扫描功能，以便注册带有@Controller、@dao、@repository、@Component等注解的类成为spring的bean -->


    <!--&lt;!&ndash; 将 springSwaggerConfig加载到spring容器 &ndash;&gt;-->
    <!--<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />-->

    <!--&lt;!&ndash; 将自定义的swagger配置类加载到spring容器 &ndash;&gt;-->
    <!--<bean class="HelloSpringMVC.swagger.SwaggerConfig" />-->

    <!--<mvc:resources mapping="/swagger/**" location="/swagger/" />-->

    <!--<bean class="HelloSpringMVC.swagger.SwaggerConfig" />-->

    <!-- 对模型视图名称的解析，在请求时模型视图名称添加前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/"/>    <!-- 前缀 -->
    <property name="suffix" value=".jsp"/>    <!-- 后缀 -->
    </bean>
    <mvc:resources mapping="/css/**" location="css/"/>
    <mvc:resources mapping="/img/**" location="img/"/>

</beans>